@model BlogCreateVM
@{
    ViewData["Title"] = "Create";

}





<div class="main-panel">
    <div class="content-wrapper">
        <div class="row">
            <div class="col-md-12 grid-margin stretch-card">
                <div class="card" style=" margin-left: 10px;">
                    <div class="card-body">
                        <p class="card-description">Blog Create</p>
                        <form asp-controller="Blog" asp-action="Create" class="forms-sample" method="post" enctype="multipart/form-data">

                            <div class="form-group">
                                <label class="my-4" for="exampleInputUsername1">Image</label>
                                <input class="form-control mybutton" asp-for="Photo">
                                <span class="text-danger" asp-validation-for="Photo"></span>
                            </div>
                            <div class="form-group">
                                <label class="my-4" for="exampleInputUsername1">Title</label>
                                <input class="form-control rounded-0" id="title-area" rows="3" asp-for="Title"></input>
                                <span class="text-danger my-1" asp-validation-for="Title"></span>
                            </div>

                            <div class="form-group">
                                <label class="my-4" for="exampleInputUsername1">Description</label>
                                <input class="form-control rounded-0" id="description-area" rows="3" asp-for="Description"></input>
                                <span class="text-danger my-1" asp-validation-for="Description"></span>
                            </div>

                            <div class="form-group">
                                <label asp-for="BlogCategoryId">Categories</label>
                                <select class="form-control" asp-for="BlogCategoryId" asp-items="@ViewBag.categories"></select>
                                <span class="text-danger my-1" asp-validation-for="BlogCategoryId"></span>
                            </div>
                            <label class="my-4" for="exampleInputUsername1">Tag</label>
                            <div class="form-group">

                                @if (Model.Tag != null)
                                {
                                    @for (int i = 0; i < Model.Tag.Count; i++)
                                    {
                                        <tr>
                                            <td>
                                                <label>@Model.Tag[i].Name</label>
                                                <input type="hidden" asp-for="@Model.Tag[i].Name" />
                                                <input type="hidden" asp-for="@Model.Tag[i]" />
                                                <input type="checkbox" asp-for="@Model.Tag[i].IsSelected" />
                                                <input type="hidden" asp-for="@Model.Tag[i].Id" />
                                            </td>
                                        </tr>
                                    }
                                }
                            </div>

                            <button type="submit" class="btn btn-success">Submit</button>
                            <a asp-controller="Blog" asp-action="Index" class="btn btn-danger">Cancel</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <partial name="_ValidationPartial" />

}




