@model SendMessage

@{
    ViewData["Title"] = "Detail";

}


@section Css{
    <link rel="stylesheet" href="~/admin/vendors/typicons/typicons.css">
    <link rel="stylesheet" href="~/admin/vendors/css/vendor.bundle.base.css">
    <!-- endinject -->
    <!-- inject:css -->
    <link rel="stylesheet" href="~/admin/css/vertical-layout-light/style.css">
    <!-- endinject -->
    <link rel="shortcut icon" href="~/admin/images/favicon.png" />
}

<div class="container-fluid ">
    <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">

                <h4 class="card-title">Message detail</h4>

                <div class="table-responsive pt-3">
                    <table class="table table-bordered">
                        <thead style="background-color:black">
                            <tr style="color:red">
                                <th>
                                    Name
                                </th>
                                <th>
                                    Surname
                                </th>
                                <th>
                                    Subject
                                </th>
                                <th>
                                    Message
                                </th>
                                <th>
                                    Email
                                </th>

                                <th style="text-align: center;">
                                    Settings
                                </th>
                            </tr>
                        </thead>
                        <tbody style="background-color: #EBEBEB ">
                                                      
                            <tr>

                                <td style="color: black">
                                    @Html.Raw(Model.Name)
                                </td>
                                <td>
                                    @Html.Raw(Model.Surname)
                                </td>
                                <td>
                                    @Model.Subject
                                </td>
                                <td>
                                    @Model.Message
                                </td>
                                <td>
                                    @Model.Email
                                </td>
                                <td style="text-align: center;">
                                    <a asp-action="Detail" asp-route-id="@Model.Id" class="btn btn-info"><i class="fa-solid fa-info"></i></a>

                                </td>
                            </tr>

                            


                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

</div>



@section Scripts{
    <script src="~/admin/vendors/js/vendor.bundle.base.js"></script>
    <!-- endinject -->
    <!-- Plugin js for this page-->
    <!-- End plugin js for this page-->
    <!-- inject:js -->
    <script src="~/admin/js/off-canvas.js"></script>
    <script src="~/admin/js/hoverable-collapse.js"></script>
    <script src="~/admin/js/template.js"></script>
    <script src="~/admin/js/settings.js"></script>
    <script src="~/admin/js/todolist.js"></script>
}




